<!--File: voter_analytics/templates/voter_analytics/graphs.html
Author: Yi Ji (Wayne) Wang (waynew@bu.edu), 10/31/2025
Description: Template that shows graphs pertaining to the filtered
set of Voters.
-->

{% extends 'voter_analytics/base.html' %}

{% block content %}

<div>

    <!-- section for filtering the Voters -->
    <div class="row">
        <form action="{% url 'graphs' %}" method="GET">
            {% include "voter_analytics/filter.html" %}
        
            <input type="submit" value="Submit">
        
            <a href="{% url 'graphs' %}">
                <input type="button" value="Cancel">
            </a>
        </form>
    </div>

    <!-- bar graph of voter distribution by birth years -->
    <div class="row">
        {{graph_div_birth_years | safe}}
    </div>

    <!-- pie graph of voter distribution by parties -->
    <div class="row">
        {{graph_div_parties | safe}}
    </div>

    <!-- bar graph of voter distribution by elections -->
    <div class="row">
        {{graph_div_elections | safe}}
    </div>

</div>

{% endblock %}