<!--File: voter_analytics/templates/voter_analytics/voter.html
Author: Yi Ji (Wayne) Wang (waynew@bu.edu), 10/31/2025
Description: Template that shows a single Voter and their data.
-->

{% extends 'voter_analytics/base.html' %}

{% block content %}

    <div class="row">

        <!-- table showing all attributes of a single Voter -->
        <table class="voters">
            <tr>
                <td><strong>Name</strong></td>
                <td>{{v.first_name}} {{v.last_name}}</td>
            </tr>
            <tr>
                <td><strong>Address</strong></td>
                <td>
                    <!-- a link to the Google Maps location of their address (spooky!) -->
                    <a href="https://www.google.com/maps/place/
                    {{v.street_number}} {{v.street_name}}, Apartment {{v.apt_number}}, {{v.zip}}, Newton, MA"
                    target="_blank">
                        {{v.street_number}} {{v.street_name}}, Apartment {{v.apt_number}}, {{v.zip}}, Newton, MA
                    </a>
                </td>
            </tr>
            <tr>
                <td><strong>Birth Date</strong></td>
                <td>{{v.birth_date}}</td>
            </tr>
            <tr>
                <td><strong>Registration Date</strong></td>
                <td>{{v.registration_date}}</td>
            </tr>
            <tr>
                <td><strong>Party</strong></td>
                <td>{{v.party}}</td>
            </tr>
            <tr>
                <td><strong>Precint</strong></td>
                <td>{{v.precinct}}</td>
            </tr>
            <tr>
                <td><strong>v20state</strong></td>
                <td>{{v.v20state}}</td>
            </tr>
            <tr>
                <td><strong>v21town</strong></td>
                <td>{{v.v21town}}</td>
            </tr>
            <tr>
                <td><strong>v21primary</strong></td>
                <td>{{v.v21primary}}</td>
            </tr>
            <tr>
                <td><strong>v22general</strong></td>
                <td>{{v.v22general}}</td>
            </tr>
            <tr>
                <td><strong>v23town</strong></td>
                <td>{{v.v23town}}</td>
            </tr>
            <tr>
                <td><strong>Voter Score</strong></td>
                <td>{{v.score}}</td>
            </tr>
        </table>

        <a href="{% url 'voters' %}">
            <input type="button" value="Back">
        </a>
    </div>

{% endblock %}