<!--File: voter_analytics/templates/voter_analytics/voters.html
Author: Yi Ji (Wayne) Wang (waynew@bu.edu), 10/31/2025
Description: Template that shows all Voters and their data.
-->

{% extends 'voter_analytics/base.html' %}

{% block content %}

    <!-- section for filtering the Voters -->
    <div class="row">
        <form action="{% url 'voters' %}" method="GET">
            {% include "voter_analytics/filter.html" %}
        
            <input type="submit" value="Submit">
        
            <a href="{% url 'voters' %}">
                <input type="button" value="Cancel">
            </a>
        </form>
    </div>

    <!-- section containing Voters matching the filter (100 per page) -->
    <div class="row">
        <h1>Voters</h1>
        
        <h3>Found {{page_obj.paginator.count}} voters</h3>
        
        <!-- include buttons to flip between pages -->
        {% include "voter_analytics/paginate.html" %}

        <!-- table of matching Voters -->
        <table class="voters">
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Birth Date</th>
                <th>Party</th>
                <th>Voter Score</th>
            </tr>
        
            <!-- loop through the 100 Voters to display them all -->
            {% for v in voters %}
                <tr>
                    <td>
                        <a href="{% url 'voter' v.pk %}">{{v.first_name}} {{v.last_name}}</a>
                    </td>
                    <td>{{v.street_number}} {{v.street_name}} {{v.apt_number}} {{v.zip}}</td>
                    <td>{{v.birth_date}}</td>
                    <td>{{v.party}}</td>
                    <td>{{v.score}}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}