<!-- voter_analytics/templates/voter_analytics/voters.html -->

{% extends 'voter_analytics/base.html' %}

{% block content %}

<div>

    <form action="{% url 'voters' %}" method="GET">
        {% include "voter_analytics/filter.html" %}

        <input type="submit" value="Submit">
        
        <a href="{% url 'voters' %}">
            <input type="button" value="Cancel">
        </a>
    </form>

    <h1>Voters</h1>

    <h3>Found {{page_obj.paginator.count}} voters</h3>

    <!-- navigation links for different pages of results -->
    <div class="row">
        {% include "voter_analytics/paginate.html" %}
    </div>

    <!-- table of results -->
    <div>
        <table>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Birth Date</th>
                <th>Party</th>
                <th>Voter Score</th>
            </tr>
            
            {% for v in voters %}
                <tr>
                    <td>
                        <a href="{% url 'voter' v.pk %}">{{v.first_name}} {{v.last_name}}</a>
                    </td>
                    <td>{{v.street_number}} {{v.street_name}} {{v.apt_number}} {{v.zip}}</td>
                    <td>{{v.birth_date}}</td>
                    <td>{{v.party}}</td>
                    <td>{{v.score}}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

</div>

{% endblock %}