{% extends 'hw/base.html' %}

{% block name %}
    
    <h1>About this page</h1>

    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia iure modi excepturi architecto fugiat, harum veniam porro, perspiciatis, unde reiciendis exercitationem aperiam. Architecto qui aperiam laborum, sed obcaecati optio mollitia?
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus amet rem nobis corporis temporibus id, eos ea optio suscipit ut omnis? Illo voluptatibus pariatur placeat expedita exercitationem sit, iusto totam.
    </p>

{% endblock %}