/*
File: mini_insta/static/mini_insta/styles.css
Author: Yi Ji (Wayne) Wang (waynew@bu.edu), 9/26/2025
Description: A CSS stylesheet for the Mini Instagram app templates.
*/

/* imported fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

/* font + colour variables */
:root {
    --merriweather: 'merriweather';
    --wisteria: rgba(203, 112, 255);
    --wisteria-translucent: rgba(203, 112, 255, 0.6);
    --black-translucent: rgba(0, 0, 0, 0.5);
}

/* GENERAL STYLES */

body {
    margin: 0;
    background: black;
    font-family: var(--merriweather);
    color: white;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

p {
    font-size: 20px;
}

/* BASE */

img.background-img {
    position: fixed;
    width: 100%;
    top: 0;
    filter: brightness(30%);
    z-index: -1;
}

header {
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    height: 110px;
    top: 0;
    background: black;
    border-bottom: 3px solid white;
}

img.slayer-logo {
    width: 80px;
    margin-left: 20px;
}

h2.menu-heading {
    position: relative;
    top: 4px;
    margin-left: 20px;
}

table.icon-table {
    margin-left: auto;
    margin-right: 10px;
    border-spacing: 25px 0;
}

img.icon {
    width: 50px;
    transition: 0.2s;
}

img.icon:hover {
    filter: brightness(69%);
}

div.content-wrapper-div {
    width: 90%;
    margin: 160px auto 50px auto;
}

/* SHOW ALL PROFILES */

div.profile-grid-div {
    display: grid;
    width: 100%;
    justify-items: center;
    grid-template-columns: repeat(4, 1fr); /* 4 equal-width cols */
}

img.square-pfp {
    width: 280px;
    height: 280px;
    object-fit: cover;
    border: 3px solid white;
    border-radius: 10px;
    transition: 0.2s;
}

img.square-pfp:hover {
    transform: scale(1.02);
    border: 3px solid var(--wisteria);
}

/* SHOW PROFILE */

/* table { border: 2px solid red; }
td { border: 2px solid red; } */

table.profile-table {
    margin: 0 auto 0 auto;
}

img.circle-profile-img {
    width: 240px;
    height: 240px;
    object-fit: cover;
    border: 3px solid white;
    border-radius: 50%;
}

h1.profile-name {
    margin-left: 40px;
}

table.stats-table {
    border-spacing: 20px 0;
    margin-left: 20px;
}

td.stats-table-col {
    width: 200px;
    padding: 20px;
    background: var(--wisteria-translucent);
    border: 1px solid white;
    border-radius: 10px;
}

h3.stat-heading {
    margin: 0;
}

div.bio-div {
    width: fit-content;
    margin-top: 50px;
    padding-left: 130px;
}

div.posts-grid-div {
    display: grid;
    width: 85%;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 40px;
    margin: 0 auto 0 auto;
}

img.post {
    width: 330px;
    height: 330px;
    object-fit: cover;
    border: 2px solid white;
    border-radius: 10px;
    transition: 0.2s;
}

img.post:hover {
    transform: scale(1.02);
    border: 3px solid var(--wisteria);
}

p.post-date {
    text-align: left;
}

/* SHOW POST */

div.caption-div {
    width: 95%;
    text-align: center;
    margin: 0 auto 50px auto;
    padding: 10px;
    background-color: var(--black-translucent);
}

div.photo-grid-div {
    display: grid;
    width: 100%;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 50px;
}

img.photo {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border: 2px solid white;
    border-radius: 10px;
}

/* CREATE POST FORM */

h2.create-post-heading {
    width: fit-content;
    transform: translate(-50%, 0);
    margin: 0 0 0 50%;
}

table.create-post-table {
    width: fit-content;
    margin: 0 auto 0 auto;
    border-spacing: 50px;
}

h3.input-label {
    margin: 0 0 12px 0;
}

input.photo-input {
    width: 100%;
}

input.button-input {
    margin: 0 5px 0 5px;
    padding: 5px 10px 5px 10px;
    background: var(--wisteria-translucent);
    font: 20px var(--merriweather);
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    transition: 0.2s;
}

input.button-input:hover {
    background-color: darkgray;
}