/*
File: mini_insta/static/mini_insta/styles.css
Author: Yi Ji (Wayne) Wang (waynew@bu.edu), 10/27/2025
Description: A CSS stylesheet for the Mini Instagram app templates.
*/

/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

/* import other stylesheets */
@import url("base.css");
@import url("profile.css");
@import url("post.css");
@import url("forms.css");
@import url("feed.css");

/* font + colour variables */
:root {
    --merriweather: 'merriweather';
    --wisteria: rgba(203, 112, 255);
    --wisteria-translucent: rgba(203, 112, 255, 0.6);
    --black-translucent: rgba(0, 0, 0, 0.5);
}

body {
    margin: 0;
    background: black;
    font-family: var(--merriweather);
    color: white;
}

a {
    text-decoration: none;
}

h1.large {
    font-size: 50px;
}

h1.medium {
    font-size: 40px;
}

h1.small {
    font-size: 30px;
}

h1.inline {
    display: inline-block;
}

h1.no-margin {
    margin: 0;
}

h1.ml-20 {
    margin-left: 20px;
}

h1.align-left {
    text-align: left;
}

h1.centered {
    width: fit-content;
    margin: 0 auto;
}

p {
    font-size: 20px;
    color: white;
}

p.no-margin {
    margin: 0;
}

p.mt-mb-8 {
    margin: 8px 0;
}

p.inline {
    display: inline-block;
}

p.clickable {
    transition: 0.2s;
}

p.clickable:hover {
    color: var(--wisteria);
}