{% if create %}
    <form class="form-wrapper" action="{% url 'create_box' %}" method="POST" enctype="multipart/form-data">
{% else %}
    <form class="form-wrapper" action="{% url 'update_box' box.pk %}" method="POST" enctype="multipart/form-data">
{% endif %}

    {% csrf_token %}

    <div class="form-div">
        <h1 class="medium">Blindbox Name</h1>
        {{form.name}}
    </div>

    <div class="form-div">
        <h1 class="medium">Blindbox Image</h1>

        <label class="file-input-label" for="{{form.cover_image.id_for_label}}">Upload File</label>

        {{form.cover_image}}
    </div>

    <div class="button-wrapper centered">
        {% if create %}
            <button class="submit salmon" type="submit">Create</button>
            <a class="button small gray" href="{% url 'show_all_boxes' %}">Cancel</a>
        {% else %}
            <button class="submit salmon" type="submit">Confirm</button>
            <a class="button small gray" href="{% url 'show_box' box.pk %}">Cancel</a>
        {% endif %}
    </div>
</form>