<!--File: project/templates/project/C_trade.html
Author: Yi Ji (Wayne) Wang (waynew@bu.edu), 12/08/2025
Description: Component template containing a Trade.
-->

<!-- table containing key info about the Trade -->

<table class="trade-table">
    <tr>

        <!-- shows the OwnedItem that the trader is offering -->

        <td>
            {% with item=trade.trader_item.item %}
                {% if incoming %}
                    <h1 class="medium mb-5"><em>{{trade.trader_item.player.username}} is giving:</em></h1>
                {% else %}
                    <h1 class="medium mb-5"><em>You are giving:</em></h1>
                {% endif %}

                {% include 'project/components/C_item.html' with rarity=1 origin=1 %}
            {% endwith %}
        </td>

        <!-- shows info about the trader / tradee, along with buttons -->

        <td>

            <!-- if this is an incoming Trade, show who the trader is, and accept / reject buttons -->

            {% if incoming %}
                <div>
                    <a href="{% url 'show_player' trade.trader_item.player.pk %}">
                        <img class="pfp small circle clickable" src="{{trade.trader_item.player.profile_image.url}}">
                    </a>
                    <h1 class="large mb-50">{{trade.trader_item.player.username}}</h1>
                </div>
                
                <div class="button-wrapper centered">
                    <a class="button small salmon mr-20" href="{% url 'accept_trade' trade.pk %}">Accept</a>
                    <a class="button small salmon" href="{% url 'reject_trade' trade.pk %}">Reject</a>
                </div>

            <!-- if this is an outgoing Trade, show who the tradee is, and a cancel button -->

            {% else %}
                <div>
                    <a href="{% url 'show_player' trade.tradee_item.player.pk %}">
                        <img class="pfp small circle clickable" src="{{trade.tradee_item.player.profile_image.url}}">
                    </a>
                    <h1 class="large mb-50">{{trade.tradee_item.player.username}}</h1>
                </div>
                
                <a class="button small gray centered" href="{% url 'reject_trade' trade.pk %}">Cancel</a>
            {% endif %}
        </td>

        <!-- shows the OwnedItem that the trader wants from the tradee -->

        <td>
            {% with item=trade.tradee_item.item %}
                {% if incoming %}
                    <h1 class="medium mb-5"><em>{{trade.trader_item.player.username}} wants:</em></h1>
                {% else %}
                    <h1 class="medium mb-5"><em>You want:</em></h1>
                {% endif %}

                {% include 'project/components/C_item.html' with rarity=1 origin=1 %}
            {% endwith %}
        </td>
    </tr>
</table>