{% load static %}

<html>
<head>
    <title>Blindbox Buddy</title>

    <link rel="stylesheet" href="{% static 'project/css/styles.css' %}">
</head>

<body>

    <div class="content">
        {% block content %}{% endblock %}
    </div>

    <header>
        <a class="menu-nav" href="{% url 'show_all_players' %}">
            <img class="icon" src="{% static 'project/img/people.png' %}">
            <h1 class="medium white">People</h1>
        </a>

        <a class="menu-nav" href="{% url 'show_all_shop_boxes' %}">
            <img class="icon" src="{% static 'project/img/shop.png' %}">
            <h1 class="medium white">Shop</h1>
        </a>

        <a class="menu-nav" href="{% url 'show_all_boxes' %}">
            <img class="icon" src="{% static 'project/img/creator.png' %}">
            <h1 class="medium white">Creator</h1>
        </a>

        <a class="menu-nav" href="{% url 'show_trades' %}">
            <img class="icon" src="{% static 'project/img/trades.png' %}">
            <h1 class="medium white">Trades</h1>
        </a>

        {% if request.user.is_authenticated %}
            <a class="menu-nav" href="{% url 'show_my_player' %}">
                <img class="icon" src="{% static 'project/img/me.png' %}">
                <h1 class="medium white">Me ({{request.user.player.username}})</h1>
            </a>
            
            <form action="{% url 'logout' %}" method="POST">
                {% csrf_token %}
                <button class="submit white ml-20 mr-20" type="submit">Logout</button>
            </form>
        
        {% else %}
            <a class="button small white ml-20 mr-20" href="{% url 'login' %}">Login</a>
        {% endif %}
    </header>

</body>
</html>