{% load static %}

<html>
<head>
    <title>Blind Box</title>

    <link rel="stylesheet" href="{% static 'project/css/styles.css' %}">
</head>

<body>

    <header>
        {% if request.user.is_authenticated %}
            <h2>{{request.user.player.username}}</h2>

            <form action="{% url 'logout' %}" method="POST">
                {% csrf_token %}

                <input type="submit" value="Logout">
            </form>

        {% else %}
            <a href="{% url 'login' %}">
                <button>Login</button>
            </a>
        {% endif %}
    </header>

    <div class="content">
        {% block content %}{% endblock %}
    </div>

</body>
</html>