{% extends 'project/base.html' %}

{% block content %}

    <h1 class="large">Create Item</h1>

    <form class="form-wrapper" action="{% url 'create_item' box.pk %}" method="POST"
    enctype="multipart/form-data">
        {% csrf_token %}

        <div class="form-div">
            <h1 class="medium">Item Name</h1>
            {{form.name}}
        </div>
        
        <div class="form-div">
            <h1 class="medium">Item Image</h1>
            <label class="photo-input-label" for="{{form.image.id_for_label}}">Upload File</label>
            {{form.image}}
        </div>

        <div class="form-div">
            <h1 class="medium">Item Rarity</h1>
            {{form.rarity}}
        </div>
        
        <div class="form-div horizontal">
            <button class="submit salmon" type="submit">Create</button>
        
            <a class="button small gray" href="{% url 'show_box' box.pk %}">Back</a>
        </div>
    </form>

{% endblock %}