<!--File: project/templates/project/delete_item.html
Author: Yi Ji (Wayne) Wang (waynew@bu.edu), 12/08/2025
Description: Template to delete an Item.
-->

{% extends 'project/base.html' %}

{% block content %}

    <h1 class="large">Are you sure you want to delete this item?</h1>

    <!-- form to confirm deletion -->

    <form action="{% url 'delete_item' item.pk %}" method="POST"
    enctype="multipart/form-data">
        {% csrf_token %}

        <!-- submit / cancel buttons -->

        <div class="button-wrapper centered mb-50">
            <button class="submit salmon" type="submit">Delete</button>
            <a class="button small gray" href="{% url 'show_box' box.pk %}">Cancel</a>
        </div>
    </form>

    <!-- show the Item to be deleted -->

    {% include 'project/components/C_item.html' with rarity=1 origin=1 %}

{% endblock %}