{% extends 'project/base.html' %}

{% block content %}

    <h1>Displayable Items owned by {{player.username}} - Choose one to display!</h1>

    <form action="{% url 'item_display' slot %}" method="POST">
        {% csrf_token %}
        
        <button type="submit" name="delete" value="delete">
            <div class="delete"></div>
        </button>

        {% for oi in owned_items %}
            <button type="submit" name="oi_pk" value="{{oi.pk}}">
                <h3>{{oi.item.name}} (x {{oi.quantity}})</h3>
                
                <img class="box" src="{{oi.item.image.url}}" style="border: 3px solid {{oi.item.get_rarity_color}}">
            </button>
        {% endfor %}

    </form>

{% endblock %}