{% extends 'project/base.html' %}

{% load static %}

{% block content %}

    {% if box.published %}
        <a class="button large gray centered" href="{% url 'unpublish_box' box.pk %}">Unpublish Box</a>

        {% if success %}
            <h1 class="small green">Published blindbox to the shop!</h1>
        {% endif %}
    
    {% else %}
        <a class="button large salmon centered" href="{% url 'publish_box' box.pk %}">Publish Box</a>

        {% if failure %}
            <h1 class="small red">Blindbox must contain at least 1 item of each rarity!</h1>
        {% endif %}
    {% endif %}

    <table>
        <tr>
            <td>
                {% include 'project/components/C_box.html' %}
            </td>
    
            <td>
                <h1 class="large">{{box.name}}</h1>
                <h1 class="small mb-50">Created on {{box.date_created.date}}</h1>

                <div class="button-wrapper">
                    <a class="button small gray mr-20" href="{% url 'update_box' box.pk %}">Update Box</a>
                    <a class="button small gray mr-20" href="{% url 'delete_box' box.pk %}">Delete Box</a>
                </div>
            </td>
        </tr>
    </table>

    <h1 class="large">Items in this Blindbox:</h1>

    <div class="items-grid">
        {% include 'project/components/C_item.html' with create_item=1 %}

        {% for item in box.get_all_items %}
            {% include 'project/components/C_item.html' with rarity=1 edit=1 %}
        {% endfor %}
    </div>

{% endblock %}