{% extends 'project/base.html' %}

{% block content %}

    <table class="mb-60">
        <tr>
            <td>
                <img class="pfp medium circle mr-50" src="{{player.profile_image.url}}">
            </td>
    
            <td>
                <h1 class="large">{{player.username}}</h1>
                <h1 class="small">Joined on {{player.date_joined.date}}</h1>

                {% if player.boxes_opened == 1 %}
                    <h1 class="small mb-50">{{player.boxes_opened}} Blindbox Opened</h1>
                {% else %}
                    <h1 class="small mb-50">{{player.boxes_opened}} Blindboxes Opened</h1>
                {% endif %}

                <div class="button-wrapper">
                    <a class="button small salmon mr-20" href="{% url 'show_collection' player.pk %}">Collection</a>
                    
                    {% if request.user.is_authenticated and player != request.user.player %}
                        <a class="button small salmon" href="{% url 'start_trade' player.pk %}">Trade</a>
                    {% endif %}
                </div>
            </td>
        </tr>
    </table>

    <div class="case-grid">
        {% for slot in player.get_slots %}
            {% if player == request.user.player %}
                {% include 'project/components/C_display_case.html' with clickable=1 %}
            {% else %}
                {% include 'project/components/C_display_case.html' %}
            {% endif %}
        {% endfor %}
    </div>

{% endblock %}