{% extends 'project/base.html' %}

{% block content %}

    <h1 class="large">Blindbox Buddy Community</h1>

    <div class="players-grid">
        {% for player in players %}

            <div class="player-div">
                <a href="{% url 'show_player' player.pk %}">
                    <img class="pfp large square clickable" src="{{player.profile_image.url}}">
                </a>

                <h1 class="medium">{{player.username}}</h1>
            </div>

        {% endfor %}
    </div>

{% endblock %}