{% extends 'project/base.html' %}

{% block content %}

    {% if player.get_incoming_trades|length == 0 %}
        <h1 class="medium">No incoming trades</h1>
    {% else %}
        <h1 class="large">Incoming Trades</h1>
    {% endif %}

    {% for trade in player.get_incoming_trades %}
        {% include 'project/components/C_trade.html' with incoming=1 %}
    {% endfor %}

    {% if player.get_outgoing_trades|length == 0 %}
        <h1 class="medium">No outgoing trades</h1>
    {% else %}
        <h1 class="large">Outgoing Trades</h1>
    {% endif %}

    {% for trade in player.get_outgoing_trades %}
        {% include 'project/components/C_trade.html' %}
    {% endfor %}

{% endblock %}