{% extends 'project/base.html' %}

{% block content %}

    <h1 class="large">Blindbox Shop</h1>

    <div class="boxes-grid">
        {% for box in boxes %}
    
            <div class="box-wrapper">
                <h1 class="medium">{{box.name}}</h1>
        
                <h1 class="small mb-30">Created by {{box.player.username}}</h1>
        
                <a class="box-nav" href="{% url 'show_shop_box' box.pk %}">
                    {% include 'project/components/box.html' %}
                </a>
            </div>
    
        {% endfor %}
    </div>

{% endblock %}