<!--File: project/templates/project/show_all_players.html
Author: Yi Ji (Wayne) Wang (waynew@bu.edu), 12/08/2025
Description: Template to show all Players.
-->

{% extends 'project/base.html' %}

{% block content %}

    <h1 class="large">Blindbox Buddy Community</h1>

    <!-- grid of Players -->

    <div class="players-grid">
        {% for player in players %}

            <div class="player-div">
                <h1 class="medium">{{player.username}}</h1>
                <a href="{% url 'show_player' player.pk %}">
                    <img class="pfp large square clickable" src="{{player.profile_image.url}}">
                </a>
            </div>

        {% endfor %}
    </div>

{% endblock %}