{% extends 'project/base.html' %}

{% block content %}

    <table>
        <tr>
            <td>
                {% include 'project/components/C_box.html' %}
            </td>
    
            <td>
                <h1 class="large">{{box.name}}</h1>

                <h1 class="small mb-50">
                    Created by <a class="inline salmon" href="{% url 'show_player' box.player.pk %}">{{box.player.username}}</a>
                </h1>

                <a class="button large salmon" href="{% url 'open_box' box.pk %}">Open Blindbox</a>
            </td>
        </tr>
    </table>

    <h1 class="large">Items in this Blindbox:</h1>

    <div class="items-grid">
        {% for item in box.get_all_items %}
            {% include 'project/components/C_item.html' with rarity=1 %}
        {% endfor %}
    </div>

{% endblock %}