{% extends 'project/base.html' %}

{% block content %}

    <h1 class="large">Blindbox Shop</h1>

    <div class="boxes-grid">
        {% for box in boxes %}
    
            <div class="box-div">
                <h1 class="medium">{{box.name}}</h1>
        
                <h1 class="small mb-30">
                    Created by <a class="inline salmon" href="{% url 'show_player' box.player.pk %}">{{box.player.username}}</a>
                </h1>

                {% include 'project/components/C_box.html' with nav=1 shop=1 %}
            </div>
    
        {% endfor %}
    </div>

{% endblock %}