<!--File: project/templates/project/show_all_shop_boxes.html
Author: Yi Ji (Wayne) Wang (waynew@bu.edu), 12/08/2025
Description: Template to show all Boxes in the shop.
-->

{% extends 'project/base.html' %}

{% block content %}

    <h1 class="large mb-50">Blindbox Shop</h1>

    <!-- grid of Boxes in the shop -->

    <div class="boxes-grid">
        {% for box in boxes %}
    
            <div class="box-div">
                <h1 class="medium">{{box.name}}</h1>
                <h1 class="small mb-30">
                    Created by <a class="inline salmon" href="{% url 'show_player' box.player.pk %}">{{box.player.username}}</a>
                </h1>

                {% include 'project/components/C_box.html' with nav=1 shop=1 %}
            </div>
    
        {% endfor %}
    </div>

{% endblock %}