<!--File: project/templates/project/update_player.html
Author: Yi Ji (Wayne) Wang (waynew@bu.edu), 12/08/2025
Description: Template to update a Player.
-->

{% extends 'project/base.html' %}

{% block content %}

    <h1 class="large">Edit Profile</h1>

    <!-- form to enter the Player's data -->

    <form class="form-wrapper" action="{% url 'update_player' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <!-- form fields -->

        <div class="form-div">
            <h1 class="medium">Username</h1>
            {{form.username}}
        </div>
        
        <div class="form-div">
            <h1 class="medium">Profile Picture</h1>
            <label class="file-input-label" for="{{form.profile_image.id_for_label}}">Upload File</label>
            {{form.profile_image}}
        </div>

        <!-- confirm / cancel buttons -->
        
        <div class="button-wrapper centered">
            <button class="submit salmon" type="submit">Confirm</button>
            <a class="button small gray" href="{% url 'show_my_player' %}">Cancel</a>
        </div>
    </form>

{% endblock %}