body {
    text-align: center;
    margin: 0;
    font-family: var(--font);
    color: var(--dark-gray);
    background-color: var(--off-white);
    background: repeating-linear-gradient(
        -45deg, var(--rose-fog),
        var(--rose-fog) 15px,
        var(--off-white) 15px,
        var(--off-white) 55px
    );
}

header {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    top: 0;
    background-color: var(--palevioletred);
    border-bottom: 15px solid var(--rose-fog);
}

div.content {
    margin-top: 150px;
    margin-bottom: 50px;
}

a.menu-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
    transition: 0.2s;
}

a.menu-nav:hover {
    opacity: 0.8;
    cursor: pointer;
}

img.icon {
    position: relative;
    width: 40px;
    height: 40px;
    bottom: 3px;
    margin-right: 10px;
}