a {
    display: block;
    text-decoration: none;
    transition: 0.2s;
}

a.inline {
    display: inline;
}

a.salmon {
    color: var(--salmon);
}

a.salmon:hover {
    opacity: 0.8;
}

a.light-gray {
    color: var(--light-gray);
}

a.light-gray:hover {
    color: var(--salmon);
}

a.button {
    width: fit-content;
    padding: 8px 15px;
    font-weight: var(--bold);
    border: none;
    border-radius: 10px;
    transition: 0.2s;
}

a.button:hover {
    opacity: 0.8;
}

a.button.small {
    font-size: var(--medium);
}

a.button.large {
    font-size: var(--large);
}

a.button.white {
    color: var(--salmon);
    background-color: white;
}

a.button.gray {
    color: white;
    background-color: var(--light-gray);
}

a.button.salmon {
    color: white;
    background-color: var(--salmon);
}

a.button.centered {
    margin: 0 auto;
}

a.button.ml-20 {
    margin-left: 20px;
}

a.button.mr-20 {
    margin-right: 20px;
}

a.button.mt-30 {
    margin-top: 30px;
}

a.button.mb-30 {
    margin-bottom: 30px;
}

a.button.mb-50 {
    margin-bottom: 50px;
}

button.submit {
    width: fit-content;
    padding: 8px 15px;
    font: var(--medium) var(--font);
    font-weight: var(--bold);
    border: none;
    border-radius: 10px;
    transition: 0.2s;
}

button.submit:hover {
    opacity: 0.8;
    cursor: pointer;
}

button.submit.white {
    color: var(--salmon);
    background-color: white;
}

button.submit.salmon {
    color: white;
    background-color: var(--salmon);
}

button.submit.ml-20 {
    margin-left: 20px;
}

button.submit.mr-20 {
    margin-right: 20px;
}

button.invisible {
    font-family: var(--font);
    background: none;
    border: none;
    transition: 0.2s;
}

button.invisible:hover {
    opacity: 0.8;
    cursor: pointer;
}

div.button-wrapper {
    display: flex;
    column-gap: 15px;
}

div.button-wrapper.centered {
    justify-content: center;
}

div.button-wrapper.mb-50 {
    margin-bottom: 50px;
}