div.items-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    width: 90%;
    margin: 0 auto;
    /* row-gap: 30px; */
}

div.item-wrapper {
    margin: 20px;
    border-radius: 20px;
}

img.item {
    width: 280px;
    height: 280px;
    object-fit: cover;
    border: 5px outset;
    border-radius: 20px;
}

div.create-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    vertical-align: middle;
    width: 280px;
    height: 280px;
    color: white;
    background-color: var(--light-gray);
    border: 5px solid #c9c9c9;
    border-radius: 20px;
    transition: 0.2s;
}

div.create-item:hover {
    opacity: 0.8;
    cursor: pointer;
}

img.create-item-icon {
    width: 60px;
    height: 60px;
    margin-top: 30px;
}

div.edit-item-div {
    display: flex;
    margin-top: 3px;
}