body {
    margin: 0;
}

img.box {
    width: 300px;
    height: 300px;
    margin: 20px;
}

div.case {
    display: block;
    background-color: plum;
    width: 200px;
    height: 200px;
    margin: 20px;
}

div.delete {
    display: block;
    background-color: red;
    width: 200px;
    height: 200px;
    margin: 20px;
}

header {
    position: fixed;
    width: 100%;
    height: 100px;
    top: 0;
    background-color: palevioletred;
}

div.content {
    margin-top: 100px;
}