<!-- formdata/templates/formdata/form.html -->

{% extends 'formdata/base.html' %}

{% block content %}

<div>
    <h1>Contact Form</h1>

    <form action="{% url 'submit' %}" method="POST">

        <!-- need a CSRF (cross site request forgery) token 
         because Django wants to ensure the input is coming 
         from the same website -->
        {% csrf_token %}

        Name: <input type="text" name="name">
        Favourite Colour: <input type="text" name="favourite_colour">

        <input type="submit">
    </form>
</div>

{% endblock %}