<!-- 
File: quotes/templates/quotes/about.html
Author: Yi Ji (Wayne) Wang (waynew@bu.edu), 9/12/2025
Description: A template that gives a brief overview of what the
quotes web app is about.
-->

{% extends 'quotes/base.html' %}
    
{% block body %}

    <!-- a div that contains all text for this page -->
    <div class="text-wrapper-div">
        <h1>Welcome to Cyberpunk Edgerunners Quotes!</h1>

        <!-- information about Cyberpunk Edgerunners, whose quotes are displayed in this app -->
        <p class="small-text">
            This page displays quotes and images from 
            <a class="edgerunners-link" href="https://www.cyberpunk.net/en/edgerunners" target="_blank">Cyberpunk Edgerunners</a>.

            <br><br>

            Edgerunners is an animated series set in the dystopian and futuristic 
            Night City, where modifying one's body into a weapon is glorified. Striving 
            to "make it big", a boy named David joins a mercenary gang and fights his way 
            to legendary status.

            <br><br>

            Initially serving as promotional material for the videogame Cyberpunk 2077, 
            Cyberpunk Edgerunners quickly rose in popularity, earning a large audience even 
            among non-gamers due to its emotional appeal and deep messages.
        </p>

        <!-- a note about the author of this page -->
        <p class="author-text">
            Page created by waynew@bu.edu
        </p>
    </div>
    
{% endblock %}