{% load static %}

<html>
<head>
    <title>Cyberpunk Edgerunners Quotes</title>

    <link rel="stylesheet" href="{% static 'styles_quotes.css' %}">
</head>

<body>

    <div class="yellow-bar-div"></div>

    <nav class="menu-nav">
        <li class="menu-list"><a class="menu-link" href="{% url 'quote' %}">Quote</a></li>
        <li class="menu-list"><a class="menu-link" href="{% url 'show_all' %}">Show All</a></li>
        <li class="menu-list"><a class="menu-link" href="{% url 'about' %}">About</a></li>
    </nav>

    <img class="line-decoration-img" src="{% static 'line-decoration.png' %}" alt="black lines">

    {% block body %}{% endblock %}

</body>
</html>