<!--File: mini_insta/templates/mini_insta/base.html
Author: Yi Ji (Wayne) Wang (waynew@bu.edu), 10/17/2025
Description: The base template of the quotes web app, which all other 
templates inherit from.
-->

{% load static %}

<html>
    <head>
        <title>Mini Instagram</title>

        <!-- linking the stylesheet -->
        <link rel="stylesheet" href="{% static 'mini_insta/css/styles.css' %}">
    </head>

    <body>
        
        <!-- background image -->
        <img class="background-img" src="https://i.pinimg.com/736x/c7/61/1b/c7611baa39e9c1fa2a0df49677690edf.jpg">

        <!-- header bar containing key app information -->
        <header>
            <!-- decorative logo -->
            <img class="slayer-logo" src="{% static 'mini_insta/img/slayer-logo.png' %}">

            {% if request.user.is_authenticated %}
                <h1 class="medium">Logged in as: {{request.user}}</h1>

                <form action="{% url 'logout' %}" method="POST">
                    {% csrf_token %}
                    <input class="button-input" type="submit" value="Logout">
                </form>
            {% else %}
                <h1 class="medium">Not logged in</h1>

                <a href="{% url 'login' %}">
                    <input class="button-input" type="submit" value="Login">
                </a>
            {% endif %}

            <!-- if viewing all profiles, display 'MiniInsta Profiles' -->
            <!-- {% if profiles %}
                <h1 class="medium">MiniInsta Profiles</h1> -->

            <!-- if viewing a single profile, display that profile's username -->
            <!-- {% elif profile %}
                <h1 class="medium">@{{profile.username}}</h1> -->

            <!-- if viewing a post, display the username of the profile associated with it -->
            <!-- {% elif post %}
                <h1 class="medium">@{{post.profile.username}}</h1>
            {% endif %} -->

            <!-- table of navigation icons -->
            <table class="icon-table">
                <tr>
                    {% if request.user.is_authenticated %}
                        <td>
                            <a href="{% url 'search' %}">
                                <img class="icon" src="{% static 'mini_insta/img/search-icon.png' %}">
                            </a>
                        </td>
                        <td>
                            <a href="{% url 'create_post' %}">
                                <img class="icon" src="{% static 'mini_insta/img/add-icon.png' %}">
                            </a>
                        </td>
                        <td>
                            <a href="{% url 'show_feed' %}">
                                <img class="icon" src="{% static 'mini_insta/img/home-icon.png' %}">
                            </a>
                        </td>
                        <td>
                            <a href="{% url 'my_profile' %}">
                                <img class="pfp circle small clickable" src="{{request.user.profile.profile_image_url}}">
                            </a>
                        </td>
                    {% endif %}
                </tr>
            </table>
        </header>

        <!-- div containing the content in child templates -->
        <div class="content-wrapper">
            {% block content %}{% endblock %}
        </div>

    </body>
</html>