<!--File: mini_insta/templates/mini_insta/base.html
Author: Yi Ji (Wayne) Wang (waynew@bu.edu), 10/10/2025
Description: The base template of the quotes web app, which all other 
templates inherit from.
-->

{% load static %}

<html>
    <head>
        <title>Mini Instagram</title>

        <!-- linking the stylesheet -->
        <link rel="stylesheet" href="{% static 'mini_insta/css/styles.css' %}">
    </head>

    <body>
        
        <!-- background image -->
        <img class="background-img" src="https://i.pinimg.com/736x/c7/61/1b/c7611baa39e9c1fa2a0df49677690edf.jpg">

        <!-- header bar containing key app information -->
        <header>
            <!-- decorative logo -->
            <img class="slayer-logo" src="{% static 'mini_insta/img/slayer-logo.png' %}">

            <!-- if viewing all profiles, display 'MiniInsta Profiles' -->
            {% if profiles %}
                <h2 class="menu-heading">MiniInsta Profiles</h2>

            <!-- if viewing a single profile, display that profile's username -->
            {% elif post %}
                <h2 class="menu-heading">{{post.profile.display_name}}'s Post</h2>

            <!-- if viewing a post, display the post's owner -->
            {% elif profile %}
                <h2 class="menu-heading">@{{profile.username}}</h2>
            {% endif %}

            <!-- table of navigation icons -->
            <table class="icon-table">
                <tr>
                    <!-- if viewing a profile but not a post, include a button to create a 
                     new post for that profile -->
                    {% if profile and not post %}
                        <td>
                            <a href="{% url 'create_post' profile.pk %}">
                                <img class="icon" src="{% static 'mini_insta/img/add-icon.png' %}">
                            </a>
                        </td>
                    {% endif%}

                    <!-- if viewing a post, include a button to return to the post owner's page -->
                    {% if post %}
                        <td>
                            <a href="{% url 'show_profile' post.profile.pk %}">
                                <img class="icon" src="{% static 'mini_insta/img/back-icon.png' %}">
                            </a>
                        </td>
                    {% endif %}

                    <!-- button to return to the home page (view all profiles) -->
                    <td>
                        <a href="{% url 'show_all_profiles' %}">
                            <img class="icon" src="{% static 'mini_insta/img/home-icon.png' %}">
                        </a>
                    </td>
                </tr>
            </table>
        </header>

        <!-- div containing the content in child templates -->
        <div class="content-wrapper">
            {% block content %}{% endblock %}
        </div>

    </body>
</html>