<!--File: mini_insta/templates/mini_insta/create_post_form.html
Author: Yi Ji (Wayne) Wang (waynew@bu.edu), 10/17/2025
Description: A template to create a new post for a profile.
-->

{% extends 'mini_insta/base.html' %}

{% block content %}

    <h1 class="large centered">Create New Post</h1>

    <div class="form-wrapper">

        <!-- form containing inputs for creating a new post -->
        <form action="{% url 'create_post' profile.pk %}" method="POST"
        enctype="multipart/form-data">
            {% csrf_token %}

            <!-- explicit input to upload photo files -->
            <div class="form-div">
                <label class="photo-input-label" for="photo-input">Upload Photos</label>

                <input id="photo-input" class="photo-input" type="file" name="photo_files" multiple>
            </div>

            <!-- input for the post's caption -->
            <div class="form-div">
                <h1 class="small align-left">Caption</h1>
                {{form.caption}}
            </div>

            <!-- confirmation and cancel buttons -->
            <div class="form-div">
                <input class="button-input" type="submit" value="Create">

                <!-- return to profile page upon clicking cancel -->
                <a href="{% url 'show_profile' profile.pk %}">
                    <input class="button-input" type="button" value="Cancel">
                </a>
            </div>
        </form>

    </div>
    
{% endblock %}