<!--File: mini_insta/templates/mini_insta/login.html
Author: Yi Ji (Wayne) Wang (waynew@bu.edu), 10/17/2025
Description: A template to handle logging in a Mini Insta user.
-->

{% extends 'mini_insta/base.html' %}

{% block content %}

    <h1 class="large centered">Log In</h1>

    <div class="form-wrapper">

        <!-- form containing inputs for logging in -->
        <form action="{% url 'login' %}" method="POST">
            {% csrf_token %}

            <!-- input for username -->
            <div class="form-div">
                <h1 class="small align-left">Username</h1>
                {{form.username}}
            </div>

            <!-- input for password -->
            <div class="form-div">
                <h1 class="small align-left">Password</h1>
                {{form.password}}
            </div>

            <!-- confirmation and cancel buttons -->
            <div class="form-div">
                <input class="button-input" type="submit" value="Log In">

                <!-- return to all profiles page upon clicking cancel -->
                <a href="{% url 'show_all_profiles' %}">
                    <input class="button-input" type="button" value="Cancel">
                </a>
            </div>

            <!-- option to sign up if the user doesn't have an account -->
            <div class="form-div">
                <h1 class="small">No account yet?</h1>

                <a href="{% url 'create_profile' %}">
                    <input class="button-input" type="button" value="Sign Up">
                </a>
            </div>

            <!-- if there's supposed to be a page after login
            (determined by the view class, model get_absolute_url, etc.), go to that page -->
            {% if request.GET.next %}
                <input type="hidden" name="next" value="{{request.GET.next}}">

            <!-- otherwise, show the newly logged in user's profile -->
            {% else %}
                <input type="hidden" name="next" value="{% url 'my_profile' %}">
            {% endif %}
        </form>

    </div>
    
{% endblock %}