<!-- 
File: mini_insta/templates/mini_insta/show_profile.html
Author: Yi Ji (Wayne) Wang (waynew@bu.edu), 9/26/2025
Description: A template to display a single profile from the Mini Instagram app.
-->

{% extends 'mini_insta/base.html' %}

{% block content %}

    <!-- table containing the portion of the profile above the bio -->
    <table class="profile-wrapper-table">
        <tr>
            <!-- left column to hold the profile picture -->
            <td>
                <img class="circle-profile-img" src="{{profile.profile_image_url}}" alt="">
            </td>

            <!-- right column to hold the profile name and post + follower stats -->
            <td class="stats-table-col">
                <h1 class="profile-name">{{profile.display_name}}</h1>

                <table style="border-spacing: 20px 0;">
                    <tr>
                        <td class="stat-col">
                            <h3 class="stat-heading">Posts</h3>
                            <p class="small-text">TBD</p>
                        </td>

                        <td class="stat-col">
                            <h3 class="stat-heading">Followers</h3>
                            <p class="small-text">TBD</p>
                        </td>

                        <td class="stat-col">
                            <h3 class="stat-heading">Following</h3>
                            <p class="small-text">TBD</p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

    <!-- div containing the profile's bio and posts -->
    <div class="post-wrapper">
        <p class="small-text">
            {{profile.bio_text}}
        </p>

        <h2 class="posts-heading">
            Posts
        </h2>
    </div>
    
{% endblock %}