<!--File: mini_insta/templates/mini_insta/show_all_profiles.html
Author: Yi Ji (Wayne) Wang (waynew@bu.edu), 10/10/2025
Description: A template to display all profiles from the Mini Instagram app.
-->

{% extends 'mini_insta/base.html' %}

{% block content %}

    <!-- div containing every Mini Insta profile -->
    <div class="profile-grid">

        <!-- a loop processing each profile in the list of profiles
         to display all of them at once -->
        {% for profile in profiles %}
            <div>
                <!-- link to a profile's page, using the profile's PK -->
                <a href="{% url 'show_profile' profile.pk %}">
                    <img class="square-pfp" src="{{profile.profile_image_url}}">
                </a>

                <p>{{profile.display_name}}</p>
            </div>
        {% endfor %}
    </div>
    
{% endblock %}