<!--
File: mini_insta/templates/mini_insta/show_profile.html
Author: Yi Ji (Wayne) Wang (waynew@bu.edu), 9/26/2025
Description: A template to display a single profile from the Mini Instagram app.
-->

{% extends 'mini_insta/base.html' %}

{% block content %}

    <!-- table containing the portion of the profile above the bio -->
    <table class="profile-table">
        <tr>
            <!-- left column to hold the profile picture -->
            <td>
                <img class="circle-profile-img" src="{{profile.profile_image_url}}"
                alt="profile picture">
            </td>

            <!-- right column to hold the profile name and post + follower stats -->
            <td>
                <h1 class="profile-name">{{profile.display_name}}</h1>

                <table class="stats-table">
                    <tr>
                        <td class="stats-table-col">
                            <h3>Posts</h3>
                            <p>TBD</p>
                        </td>

                        <td class="stats-table-col">
                            <h3>Followers</h3>
                            <p>TBD</p>
                        </td>

                        <td class="stats-table-col">
                            <h3>Following</h3>
                            <p>TBD</p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

    <!-- div containing the profile's bio -->
    <div class="bio-div">
        <p>{{profile.bio_text}}</p>
    </div>

    <!-- div containing the profile's posts -->
    <div class="posts-div">
        <h2>Posts</h2>
    </div>
    
{% endblock %}