<!--
File: mini_insta/templates/mini_insta/show_post.html
Author: Yi Ji (Wayne) Wang (waynew@bu.edu), 10/3/2025
Description: A template to display a profile's post in detail, 
including its caption and all associated photos.
-->

{% extends 'mini_insta/base.html' %}
{% load static %}

{% block content %}

    <!-- div containing the post's caption -->
    <div class="caption-div">
        <p>{{post.caption}}</p>
    </div>

    <!-- div containing every photo in the post -->
    <div class="photo-grid-div">
        <!-- loop to process each photo in the post to
         display them all at once -->
        {% for photo in post.get_all_photos %}
            <!-- if a photo exists, display it -->
            {% if photo.image_url %}
                <img class="photo" src="{{photo.image_url}}">

            <!-- otherwise, display an alternate image saying 'no photo' -->
            {% else %}
                <img class="photo" src="{% static 'mini_insta/img/no-photo.png' %}">
            {% endif %}
        {% endfor %}
    </div>
    
{% endblock %}