<!--File: mini_insta/templates/mini_insta/show_post.html
Author: Yi Ji (Wayne) Wang (waynew@bu.edu), 10/10/2025
Description: A template to display a profile's post in detail, 
including its caption and all associated photos.
-->

{% extends 'mini_insta/base.html' %}
{% load static %}

{% block content %}

    <!-- div containing the post's caption -->
    <div class="caption-div">
        <p>{{post.caption}}</p>
    </div>

    <!-- div containing every photo in the post -->
    <div class="photo-grid">
        <!-- loop to process each photo in the post to
         display them all at once -->
        {% for photo in post.get_all_photos %}
            <div>
                <!-- if a photo exists, display it -->
                {% if photo.get_image_url %}
                    <img class="photo" src="{{photo.get_image_url}}">

                <!-- otherwise, display an alternate image saying 'no photo' -->
                {% else %}
                    <img class="photo" src="{% static 'mini_insta/img/no-photo.png' %}">
                {% endif %}

                <!-- text with the photo's post date and a button to delete it -->
                <p>
                    {{photo.timestamp.date}} | 
                    <a class="delete-photo-link" href="{% url 'delete_photo' photo.pk %}">Delete</a>
                </p>
            </div>
        {% endfor %}
    </div>

    <!-- div containing buttons to update or delete the post -->
    <div class="post-actions-div">
        <a href="{% url 'update_post' post.pk %}">
            <input class="button-input" type="button" value="Edit Post">
        </a>

        <a href="{% url 'delete_post' post.pk %}">
            <input class="button-input" type="button" value="Delete Post">
        </a>
    </div>
    
{% endblock %}