<!--
File: mini_insta/templates/mini_insta/show_profile.html
Author: Yi Ji (Wayne) Wang (waynew@bu.edu), 10/3/2025
Description: A template to display a single profile and its posts.
-->

{% extends 'mini_insta/base.html' %}
{% load static %}

{% block content %}

    <!-- table containing the portion of the profile above the bio -->
    <table class="profile-table">
        <tr>
            <!-- left column to hold the profile picture -->
            <td>
                <img class="circle-profile-img" src="{{profile.profile_image_url}}"
                alt="profile picture">
            </td>

            <!-- right column to hold the profile name and post + follower stats -->
            <td>
                <h1 class="profile-name">{{profile.display_name}}</h1>

                <table class="stats-table">
                    <tr>
                        <td class="stats-table-col">
                            <h3 class="stat-heading">Posts</h3>
                            <h3 class="stat-heading">{{profile.get_all_posts.count}}<h3>
                        </td>

                        <td class="stats-table-col">
                            <h3 class="stat-heading">Followers</h3>
                            <h3 class="stat-heading">0</h3>
                        </td>

                        <td class="stats-table-col">
                            <h3 class="stat-heading">Following</h3>
                            <h3 class="stat-heading">0</h3>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

    <!-- div containing the profile's join date and bio -->
    <div class="bio-div">
        <p><strong>Joined on {{profile.join_date}}</strong></p>

        <p>{{profile.bio_text | linebreaksbr}}</p>

        <h2>Posts</h2>
    </div>

    <!-- div containing the profile's posts -->
    <div class="posts-grid-div">
        <!-- loop to process each post in the profile to
         display all of them at once -->
        {% for post in profile.get_all_posts %}
            <div>
                <!-- link to view a post in detail using its primary key -->
                <a href="{% url 'show_post' post.pk %}">

                    <!-- if the post has photos, display the first photo -->
                    {% if post.get_all_photos.0.image_url %}
                        <img class="post" src="{{post.get_all_photos.0.image_url}}"
                        alt="first photo of post">

                    <!-- otherwise, display an alternate image saying 'no photo' -->
                    {% else %}
                        <img class="post" src="{% static 'mini_insta/img/no-photo.png' %}"
                        alt="no photo">
                    {% endif %}
                </a>
                
                <p class="post-date">{{post.timestamp.date}}</p>
            </div>
        {% endfor %}
    </div>
    
{% endblock %}