<!--File: mini_insta/templates/mini_insta/show_followers.html
Author: Yi Ji (Wayne) Wang (waynew@bu.edu), 10/17/2025
Description: A template to display a Profile's followers.
-->

{% extends 'mini_insta/base.html' %}

{% block content %}

    <h1 class="large centered">Followers</h1>

    <!-- if the profile has no followers, show "No followers" -->
    {% if not profile.get_followers %}
        <h1 class="medium centered">No followers</h1>
    {% endif %}

    <!-- div containing the profile's followers -->
    <div class="profiles-grid mt-50">

        <!-- a loop processing each profile in the list of profiles
         to display all of them at once -->
        {% for follower in profile.get_followers %}
            <div>
                <!-- link to a profile's page, using the profile's PK -->
                <a href="{% url 'show_profile' follower.pk %}">
                    <img class="pfp square x-large clickable" src="{{follower.profile_image_url}}">
                </a>

                <p>{{follower.display_name}}</p>
            </div>
        {% endfor %}
    </div>
    
{% endblock %}