<!--File: mini_insta/templates/mini_insta/update_profile_form.html
Author: Yi Ji (Wayne) Wang (waynew@bu.edu), 10/17/2025
Description: A template to update a profile's contents.
-->

{% extends 'mini_insta/base.html' %}

{% block content %}

    <h1 class="large centered">Edit Profile</h1>

    <div class="form-wrapper">

        <!-- form containing inputs for updating a profile -->
        <form class="create-post-form" action="{% url 'update_profile' %}" method="POST">
            {% csrf_token %}

            <!-- input for changing display name -->
            <div class="form-div">
                <h1 class="small align-left">Display Name</h1>
                {{form.display_name}}
            </div>

            <!-- input for changing profile picture -->
            <div class="form-div">
                <h1 class="small align-left">Profile Picture</h1>
                {{form.profile_image_url}}
            </div>

            <!-- input for changing bio text -->
            <div class="form-div">
                <h1 class="small align-left">Bio Text</h1>
                {{form.bio_text}}
            </div>

            <!-- confirmation and cancel buttons -->
            <div class="form-div">
                <input class="button-input" type="submit" value="Confirm">

                <!-- return to profile page upon clicking cancel -->
                <a href="{% url 'my_profile' %}">
                    <input class="button-input" type="button" value="Cancel">
                </a>
            </div>
        </form>

    </div>
    
{% endblock %}