<!--
File: mini_insta/templates/mini_insta/update_profile_form.html
Author: Yi Ji (Wayne) Wang (waynew@bu.edu), 10/3/2025
Description:
-->

{% extends 'mini_insta/base.html' %}

<!-- widget_tweaks is a Django add-on that lets you style
 form fields within scriptlet code -->
{% load widget_tweaks %}

{% block content %}

    <h1 class="form-heading">Edit Post</h1>

    <div class="form-wrapper">

        <!-- form containing inputs for updating a post -->
        <form class="create-post-form" action="{% url 'update_post' post.pk %}" method="POST"
        enctype="multipart/form-data">
            {% csrf_token %}

            <!-- explicit input for adding more photos to the post -->
            <div class="form-div">
                <label class="photo-input-label" for="photo-input">Add More Photos</label>

                <input id="photo-input" class="photo-input" type="file" name="photo_files" multiple>
            </div>

            <!-- input for updating the post's caption -->
            <div class="form-div">
                <h3 class="input-heading">Caption</h3>
                {% render_field form.caption class="text-field" %}
            </div>

            <!-- confirmation and cancel buttons -->
            <div class="form-div">
                <input class="button-input" type="submit" value="Confirm">

                <!-- return to the post page upon clicking cancel button -->
                <a href="{% url 'show_post' post.pk %}">
                    <input class="button-input" type="button" value="Cancel">
                </a>
            </div>
        </form>

    </div>
    
{% endblock %}