<!--File: mini_insta/templates/mini_insta/update_profile_form.html
Author: Yi Ji (Wayne) Wang (waynew@bu.edu), 10/10/2025
Description: A template to update a profile's contents.
-->

{% extends 'mini_insta/base.html' %}

<!-- widget_tweaks is a Django add-on that lets you style
 form fields within scriptlet code -->
{% load widget_tweaks %}

{% block content %}

    <h1 class="form-heading">Edit Profile</h1>

    <div class="form-wrapper">

        <!-- form containing inputs for updating a profile -->
        <form class="create-post-form" action="{% url 'update_profile' profile.pk %}" method="POST">
            {% csrf_token %}

            <!-- input for changing display name -->
            <div class="form-div">
                <h3 class="input-heading">Display Name</h3>
                {% render_field form.display_name class="text-field" %}
            </div>

            <!-- input for changing profile picture -->
            <div class="form-div">
                <h3 class="input-heading">Profile Picture</h3>
                {% render_field form.profile_image_url class="url-field" %}
            </div>

            <!-- input for changing bio text -->
            <div class="form-div">
                <h3 class="input-heading">Bio Text</h3>
                {% render_field form.bio_text class="text-field" %}
            </div>

            <!-- confirmation and cancel buttons -->
            <div class="form-div">
                <input class="button-input" type="submit" value="Confirm">

                <!-- return to profile page upon clicking cancel -->
                <a href="{% url 'show_profile' profile.pk %}">
                    <input class="button-input" type="button" value="Cancel">
                </a>
            </div>
        </form>

    </div>
    
{% endblock %}