@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

body {
    background-color: black;
    color: white;
    margin: 0;
    font-family: 'merriweather';
}

header {
    display: flex;
    width: 100vw;
    height: 110px;
    background: black;
    align-items: center;
    border-bottom: 3px solid white;
}

img.home-icon {
    display: inline-block;
    width: 50px;
    margin-left: 30px;
}

h1.header-h1 {
    position: relative;
    top: 4px;
    font-size: 40px;
    margin-left: 30px;
}

h1.header-h1.right {
    left: 600px;
}

img.background-img {
    position: fixed;
    width: 100vw;
    height: auto;
    filter: brightness(30%);
    z-index: -3;
}

div.grid-container-div {
    max-width: 95%;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Three equal-width columns */
    row-gap: 50px;
    margin: 50px auto 0 auto;
    justify-items: center;
    /* border: 2px solid red; */
}

img.square-profile-img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border: 3px solid white;
    border-radius: 20px;
}

/* SHOW PROFILE */

/* table {
    border: 2px solid red;
}

td {
    border: 2px solid red;
} */

img.circle-profile-img {
    display: inline;
    width: 250px;
    height: 250px;
    object-fit: cover;
    border: 3px solid white;
    border-radius: 50%;
}

h1.profile-name {
    position: relative;
    margin-left: 20px;
    font-size: 50px;
}

table.profile-wrapper-table {
    width: 80%;
    margin: 50px auto 0 auto;
}

td.stats-table-col {
    width: 75%;
}

td.stat-col {
    background: rgba(229, 163, 255, 0.6);
    width: 200px;
    border-radius: 10px;
    padding: 20px;
    margin-left: 50px;
    border: 1px solid white;
}

h3.stat-heading {
    font-size: 30px;
}

p.small-text {
    font-size: 20px;
}

div.post-wrapper {
    width: 80vw;
    height: fit-content;
    /* border: 2px solid red; */
    margin: 50px auto 0 auto;
}

p.bio-text {
    font-size: 20px;
}

h2.posts-heading {
    font-size: 35px;
    margin-top: 50px;
}